<head>
  <%- include('../partials/head'); %>
        <%- include('../partials/header'); %>
</head>
<div class="small-container container">
  <h3 class="my-3">Sign Up</h3>
  <form  method="post" action="/signupform" id="signupForm"  onsubmit="signupHandler(event)" >
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input
        type="text"
        class="form-control"
        name="signupName"
        required
        placeholder="Enter Name"
      />
      <span id="nameError" class="error-message"></span>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email Address</label>
      <input
        type="email"
        class="form-control"
        name="signupEmail"
        required
        placeholder="Enter email"
      />
      <span id="emailError" class="error-message"></span>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        name="signupPassword"
        required
        placeholder="Enter Password"
      />
      <span id="passwordError" class="error-message"></span>
    </div>
    <div class="mb-3">
      <label for="confirmPassword" class="form-label">Confirm Password</label>
      <input
        type="password"
        class="form-control"
        name="signupConfirmPassword"
        required
        placeholder="Confirm Password"
      />
      <span id="confirmPasswordError" class="error-message"></span>
    </div>
    <input type="hidden" name="Type" value="user" >
    <div class="mb-3">
      <button type="submit" class="btn btn-primary">Sign In</button>
    </div>
    <div class="mb-3">
      Already have an account? <a href="/signin">SignIn</a>
    </div>
  </form>
</div>



<%- include('../partials/footer'); %>
